# Anchor build artifacts
target/
.anchor/

# Node modules
node_modules/

# Solana keypairs
**/*.json

# Environment
.env


# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/


# Logs
*.log
npm-debug.log*

# Rust
Cargo.lock